html {
    --lumo-contrast-5pct: rgba(0, 0, 0, 0.05);
    --lumo-contrast-10pct: rgba(0, 0, 0, 0.1);
    --lumo-contrast-20pct: rgba(0, 0, 0, 0.2);
    --lumo-contrast-30pct: rgba(0, 0, 0, 0.3);
    --lumo-contrast-40pct: rgba(0, 0, 0, 0.4);
    --lumo-contrast-50pct: rgba(0, 0, 0, 0.5);
    --lumo-contrast-60pct: rgba(0, 0, 0, 0.6);
    --lumo-contrast-70pct: rgba(0, 0, 0, 0.7);
    --lumo-contrast-80pct: rgba(0, 0, 0, 0.8);
    --lumo-contrast-90pct: rgba(0, 0, 0, 0.9);
    --lumo-contrast: rgba(0, 0, 0, 1);

    --lumo-primary-color: hsl(198, 53%, 38%);
    --lumo-primary-color-50pct: hsla(198, 53%, 38%, 0.5);
    --lumo-primary-color-10pct: hsla(198, 53%, 38%, 0.09);
    --lumo-primary-text-color: hsl(198, 53%, 38%);

    /* TODO: change the hsla for lumo-success-color to match the #5B9627 color */
    --lumo-success-color: hsla(120, 31%, 31%);
    --lumo-success-text-color: #5B9627;
    --lumo-success-color-50pct: hsla(120, 31%, 31%, 0.5);
    --lumo-success-color-10pct: hsla(120, 31%, 31%, 0.1);

    --lumo-body-text-color: rgba(0, 0, 0, 0.87);
    --lumo-secondary-text-color: rgba(0, 0, 0, 0.6);

    --yellow-50: #FFFBEF;
    --yellow-100: #FFF9E3;
    --yellow-200: #FFECB4;
    --yellow-300: #FFDB7D;
    --yellow-400: #FEC941;
    --yellow-500: #FDB601;
    --yellow-600: #E0A306;
    --yellow-700: #B2830A;
    --yellow-800: #8A6C1E;
    --yellow-900: #5F4B18;

    --green-500: #1BA875;

    --red-500: #FF3A49;

    --upcloud-color: #7b00ff;
}

[theme~="dark"] {
    --lumo-base-color: hsl(198, 53%, 12%);

    --lumo-contrast-5pct: rgba(255, 255, 255, 0.05);
    --lumo-contrast-10pct: rgba(255, 255, 255, 0.1);
    --lumo-contrast-20pct: rgba(255, 255, 255, 0.2);
    --lumo-contrast-30pct: rgba(255, 255, 255, 0.3);
    --lumo-contrast-40pct: rgba(255, 255, 255, 0.4);
    --lumo-contrast-50pct: rgba(255, 255, 255, 0.5);
    --lumo-contrast-60pct: rgba(255, 255, 255, 0.6);
    --lumo-contrast-70pct: rgba(255, 255, 255, 0.7);
    --lumo-contrast-80pct: rgba(255, 255, 255, 0.8);
    --lumo-contrast-90pct: rgba(255, 255, 255, 0.9);
    --lumo-contrast: rgba(255, 255, 255, 1);

    --lumo-primary-color: hsl(198, 53%, 58%);
    --lumo-primary-color-50pct: hsla(198, 53%, 58%, 0.5);
    --lumo-primary-color-10pct: hsla(198, 53%, 58%, 0.09);
    --lumo-primary-text-color: hsl(198, 53%, 58%);

    --lumo-body-text-color: rgba(255, 255, 255, 1);
    --lumo-secondary-text-color: rgba(255, 255, 255, 0.7);
}

.bg-yellow-50 {
    background-color: var(--yellow-50);
}

.bg-yellow-100 {
    background-color: var(--yellow-100);
}

.bg-yellow-200 {
    background-color: var(--yellow-200);
}

.bg-yellow-300 {
    background-color: var(--yellow-300);
}

.bg-yellow-400 {
    background-color: var(--yellow-400);
}

.bg-yellow-500 {
    background-color: var(--yellow-500);
}

.bg-yellow-600 {
    background-color: var(--yellow-600);
}

.bg-yellow-700 {
    background-color: var(--yellow-700);
}

.bg-yellow-800 {
    background-color: var(--yellow-800);
}

.bg-yellow-900 {
    background-color: var(--yellow-900);
}

.color-upcloud {
    color: var(--upcloud-color);
}

