@import "background.css";
@import "border.css";
@import "color.css";
@import "layout.css";
@import "size.css";
@import "transform.css";
@import "transition.css";
@import "typography.css";

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

html[theme="dark"] .footer-icon {
    filter: invert(1);
}