@import "animation.css";
@import "background.css";
@import "border.css";
@import "border-radius.css";
@import "color.css";
@import "layout.css";
@import "opacity.css";
@import "size.css";
@import "transform.css";
@import "transition.css";
@import "typography.css";

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

:focus-visible {
    outline-color: var(--lumo-primary-color-50pct);
}

html {
    --fullscreen-height: calc(100vh - 3.5rem);
    --fullscreen-height-list: calc(100vh - 4.5rem);
    --fullscreen-height-column: calc(100vh - 7.5rem);
    --fullscreen-height-timo-column: calc(100vh - 17rem);
    --fullscreen-height-history: calc(100vh - 4.5rem);
}

/* iOS specific height setting */
@supports (-webkit-touch-callout: none) {
    html {
        --fullscreen-height: calc(100vh - 10.5rem);
        --fullscreen-height-list: calc(100vh - 10.8rem);
        --fullscreen-height-column: calc(100vh - 10.5rem);
        --fullscreen-height-timo-column: calc(100vh - 24.5rem);
        --fullscreen-height-history: calc(100vh - 11rem);
    }

    /* iOS PWA specific CSS */
    @media (display-mode: standalone) {
        html {
            --fullscreen-height: calc(100vh - 10.5rem);
            --fullscreen-height-list: calc(100vh - 3.5rem);
            --fullscreen-height-column: calc(100vh - 3.5rem);
            --fullscreen-height-timo-column: calc(100vh - 17.2rem);
            --fullscreen-height-history: calc(100vh - 4rem);
        }
    }
}

