@import "animation.css";
@import "background.css";
@import "border.css";
@import "border-radius.css";
@import "color.css";
@import "layout.css";
@import "opacity.css";
@import "size.css";
@import "transform.css";
@import "transition.css";
@import "typography.css";

@import "banner-ad.css";

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

:focus-visible {
    outline-color: var(--lumo-primary-color-50pct);
}

vaadin-button:hover {
    cursor: pointer;
}

vaadin-dialog-overlay::part(overlay) {
    width: 420px;
}

html {
    --fullscreen-height: calc(100vh - 3.5rem);
    --fullscreen-height-list: calc(100vh - 4.5rem);
    --fullscreen-height-column: calc(100vh - 7.5rem);
    --fullscreen-height-timo-column: calc(100vh - 17rem);
    --fullscreen-height-history: calc(100vh - 4.5rem);
    --fullscreen-height-hourly-prices: calc(100vh - 4.5rem);
    --fullscreen-height-daily-hourly-prices: calc(100vh - 4.5rem);
}

/* iOS specific height setting */
@supports (-webkit-touch-callout: none) {
    html {
        --fullscreen-height: calc(100vh - 10.5rem);
        --fullscreen-height-list: calc(100vh - 10.8rem);
        --fullscreen-height-column: calc(100vh - 10.5rem);
        --fullscreen-height-timo-column: calc(100vh - 24.5rem);
        --fullscreen-height-history: calc(100vh - 11rem);
        --fullscreen-height-hourly-prices: calc(100vh - 8.5rem);
        --fullscreen-height-daily-hourly-prices: calc(100vh - 8.5rem);
    }

    /* iOS PWA specific CSS */
    @media (display-mode: standalone) {
        html {
            --fullscreen-height: calc(100vh - 10.5rem);
            --fullscreen-height-list: calc(100vh - 3.5rem);
            --fullscreen-height-column: calc(100vh - 3.5rem);
            --fullscreen-height-timo-column: calc(100vh - 17.2rem);
            --fullscreen-height-history: calc(100vh - 4rem);
            --fullscreen-height-hourly-prices: calc(100vh - 4.5rem);
            --fullscreen-height-daily-hourly-prices: calc(100vh - 4.5rem);
        }
    }
}

vaadin-grid::part(expensive) {
    color: var(--lumo-error-text-color);
}

vaadin-grid::part(normal) {
    color: var(--lumo-primary-text-color);
}

vaadin-grid::part(cheap) {
    color: var(--lumo-success-text-color);
}

vaadin-grid::part(footer-cell) {
    font-size: var(--lumo-font-size-m);
}