:host {
    border-radius: calc(var(--lumo-button-size) * 0.5);
    margin: 0;
}

[part='label'], [part='prefix'], [part='suffix'] {
    display: flex;
}

:host([theme~='icon']:not([theme~='tertiary-inline'])) {
    padding: 0;
}
