:host .highcharts-plot-line {
    stroke: var(--lumo-error-text-color);
    stroke-width: 2px;
    stroke-dasharray: 1, 2;
}

:host .highcharts-plot-line.average-per-2 {
    stroke: var(--lumo-success-text-color);
    stroke-width: 2px;
    stroke-dasharray: 1, 2;
}

:host .highcharts-plot-line.average-yellow {
    stroke: rgb(242, 182, 50);
    stroke-width: 4px;
    stroke-dasharray: 0, 0;
}

:host .highcharts-plot-line.time {
    fill: none;
    stroke: rgb(242, 182, 50);
    stroke-width: 4px;
    stroke-dasharray: 0, 0;
}

:host([theme~="column"]) .highcharts-axis-labels {
    font-size: 14px;
}

:host([theme~="column-timo"]) .highcharts-axis-labels {
    font-size: 18px;
}

:host([theme~="column"]) .highcharts-plot-band {
    fill: yellow;
    fill-opacity: 0.5;
}

:host([theme~="column"]) .highcharts-plot-line.time {
    fill: none;
    stroke: rgb(242, 182, 50);
    stroke-width: 2px;
    stroke-dasharray: 0, 0;
}

:where([styled-mode]) .highcharts-range-selector-buttons .highcharts-label text {
    fill: var(--lumo-primary-text-color);
}

:host .highcharts-point.zone-0 {
    fill: var(--lumo-success-text-color);
}

:host .highcharts-point.zone-1 {
    fill: var(--lumo-success-text-color);
}

:host .highcharts-point.zone-2 {
    fill: var(--lumo-primary-text-color);
}

:host .highcharts-point.zone-3 {
    fill: var(--lumo-error-text-color);
}


:host([theme~="column-timo"]) .highcharts-point.zone-0 {
    fill: #b7ee58;
}

:host([theme~="column-timo"]) .highcharts-point.zone-1 {
    fill: #b7ee58;
}

:host([theme~="column-timo"]) .highcharts-point.zone-2 {
    fill: #7c97ff;
}

:host([theme~="column-timo"]) .highcharts-point.zone-3 {
    fill: #f0454a;
}

:host([theme~="column-timo"]) .highcharts-range-selector-group {
    visibility: hidden;
    display: none;
}
